__pycache__
.idea/
dist/
build/
DUMMY/
dataset/
logs/
telegram_audios/
outputs/
inference_audios/
checkpoints/
credentials.py
wavlm/WavLM-Base.pt
wavlm/WavLM-Large.pt
hifigan/generator_v1
speaker_embeddings/
training_audios/
filelists/
